*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title{
    text-align: center;
    background-color: rgb(235, 216, 180);
    margin-top: 5px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    
}

.addNewTask{
    border: 2px solid black;
    padding: 5px;
}

.describeYourTask{
    border: 2px solid black;
    padding: 5px;
}

.fullContainer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btnClearList{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.paragraph{
    margin-top: 20px;
    color: cadetblue;
    display: flex;
    flex-direction: column;
    margin-left: 50px; 
}

